<div align="center">
  <table>
    <tr>
      <b style="color: #e8505b">我的文章帮助到了您？想请我喝点东西，以支持我更好的写作？<a href="/thanks">Thanks!</a></b>
    </tr>
    <tr>
      <td align="center"><b>微信</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="center"><b>支付宝</b></td>
    </tr>
    <tr>
      <td>
        <img src="/static/images/self/wechat.png" style="width: 120px; height: 120px" />
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <img src="/static/images/self/alipay.png" style="width: 120px; height: 120px" />
      </td>
    </tr>
  </table>
</div>