<div align="center">
  <!-- <table>
    <tr>
      <b style="color: #e8505b"
        >请我喝点东西？支持我写出更多有价值的文章！<a href="/thanks"
          >Thanks!</a
        ></b
      >
    </tr>
    <tr>
      <td align="center"><b>微信</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="center"><b>支付宝</b></td>
    </tr>
    <tr>
      <td>
        <img
          src="/static/images/self/wechat.png"
          style="width: 120px; height: 120px"
        />
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <img
          src="/static/images/self/alipay.png"
          style="width: 120px; height: 120px"
        />
      </td>
    </tr>
  </table> -->
  <div style="margin-bottom: 4px">
    <b style="color: #e8505b">不想错过每一次更新？请关注我的微信订阅号！</b>
  </div>

  <img
    src="https://olzhy.github.io/static/images/self/weixinhaoqrcode.png#center"
  />
</div>
