<div align="center">
    <table>
        <tr>
            <b style="color:#e8505b">若觉得文章对您有所帮助，可以请我喝杯咖啡，<a href="/thanks">Thanks!</a></b>
        </tr>
        <tr>
            <td align="center"><b>微信</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><b>支付宝</b></td>
        </tr>
        <tr>
            <td><img src="https://olzhy.github.io/static/images/self/wechat.png" style="width:120px;height:120px" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="https://olzhy.github.io/static/images/self/alipay.png" style="width:120px;height:120px" /></td>
        </tr>
    </table>
</div>
