{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>
          <span class="text-primary">
            <script>
              var str = (window.location.search).substr(3);
              var result = decodeURI(str/*.replace(/+/g, " ")*/);
              document.write('「' + result + '」');
            </script>
          </span>
          的搜索结果
        </h2>
        <div class="block shadow">
          <div id="search-results"></div>
          <script id="search-result-template" type="text/x-js-template">
            <div class="py-4 border-bottom" id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
            </div>
        </script>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}