.logo {
    font-size: 34px !important;
}

h1.post-title {
    font-size: 22px !important;
}

h1.post-title {
    font-size: 22px !important;
}

* {
    font-family: 'Microsoft YaHei' !important;
}

img {
    width: 50%
}

.copyright {
    font-size: 14px;
}

span.heart {
    color: red;
}
