{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4"><span class="text-primary">{{ .Title }}</span></h2>
        <div class="bg-white shadow block">
            <div class="content mb-5">
                {{ range (.Site.RegularPages.GroupByDate "2006") }}
                {{ if ne .Key "0001" }}
                <h3>{{ .Key }}</h3>
                <ul class="archive-list">
                    {{ range (where .Pages "Type" "post") }}
                        <li>
                        {{ .PublishDate.Format "2006-01-02" }}
                        <a href="{{ .RelPermalink }}">「{{ .Title }}」</a>
                        </li>
                    {{ end }}
                </ul>
                {{ end }}
            {{ end }}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{{ end }}
        
        
        
        
       