{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4"><span class="text-primary">{{ .Title }}</span></h2>
        <div class="bg-white shadow block">
          <div class="content mb-5">
            <ul>
              {{ if strings.HasSuffix .Page.Permalink "tags/" }}
              {{ range sort .Site.Taxonomies.tags.ByCount }}
              <li><a href="{{ .Page.Permalink }}"> #{{ .Page.Title }}<sup>{{ .Count }}</sup></a></li>
              {{ end }}
              {{ else if strings.HasSuffix .Page.Permalink "categories/" }}
              {{ range sort .Site.Taxonomies.categories.ByCount }}
              <li><a href="{{ .Page.Permalink }}"> {{ .Page.Title }}<sup>{{ .Count }}</sup></a></li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{{ end }}